.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.leaflet-container {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
}
html, body, #mapid , #root{
  height: 100%;
  width: 100vw;
}

.LoginBox {
  padding: 25px;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginBox > * {
  margin: 15px 0;
}

.infoBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  min-height: 0;
  transition: min-height 2s;
}

.fullscreen {
  min-height: 100%;
}

.infoBox Button {
  position: absolute;
  right: 40px;
  top: 20px;
}

.description {
  color: #b2b2b2;
  font-size: 0.8em;
}
